<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> <%= username %> </h1>
    <p> Are you a <%= type %> whose email address is <%= email %>. </p>

    <ul>
         <li><%= phone.home %></li>
         <li><%= phone.mobile %></li>
         <li><%= phone.mobile2 %></li>
    </ul>

</body>
</html>