<html>
    <head>
        <title><%= movie[0].title %></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles.css">        
    </head>

    <body>
        <div class="container">
        <%- include('form'); %>
            <div id="movie-details">
                <h1 class="text-center"><%= movie[0].title %></h1>
                <div class="row">
                    <div class="col-xs-5">
                        <img class="movie-poster" src="<%= movie[0].poster %>" />
                    </div>
                    <div class="col-xs-7">
                        <table class="table">
                        
                         <%   
                         Object.keys(movie[0]).forEach(function(key) { 
                              if (key !== 'poster' && key !== 'type' && key !== 'id') { %>     
                            <tr>
                                <td><%= key.charAt(0).toUpperCase() + key.slice(1);  %> </td>
                                <td><%= movie[0][key] %></td>
                            </tr>
                         
                            <% }}); %>
                             
                        </table>
                    </div>    
                </div>

                <div class="row">
                    <div class="buttons">
                        <a class="btn btn-primary" href="<%= '/' %>">Back to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

